
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("See all Customers","Index","Customers")
<br />
@Html.ActionLink("See All Orders", "ListWork_Orders", "Compound_Receipts")
<br />
@Html.ActionLink("See All Materials","ListMaterials","Engineer")
<br />
@Html.ActionLink("See all Compound Orders","Index", "Compound_Receipts")

