@model Intex.Models.Materials

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_Name)
        </dd>

    </dl>
</div>
<p>
    <input type="button" class="btn btn-info btn" value="Edit" onclick="location.href='@Url.Action("EditMaterial", new { id = Model.Material_ID })'" />
    &nbsp | &nbsp
    <input type="button" class="btn btn-info btn" value="Back to List" onclick="location.href='@Url.Action("ListMaterials")'" />
</p>
