
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("See Materials", "ListMaterials")
<br />
@Html.ActionLink("See Work Orders", "ListWork_Orders","Compound_receipts")
<br />
@Html.ActionLink("Create Work Order Compound Receipt","Create","Compound_Receipts")