@model Intex.Models.Customers
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@Html.ActionLink("See Profile", "Details", new { id = Model.Customer_ID }, null)
<br />
@Html.ActionLink("Create Order", "Create", "Work_Orders")
<br />
@Html.ActionLink("See Personal Orders", "Index", "Work_Orders")