@model Intex.Models.Customers
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


<input type="button" class="btn btn-info btn" value="See Profile" onclick="location.href='@Url.Action("Details", new { id = Model.Customer_ID })'" />
 &nbsp | &nbsp 
<input type="button" class="btn btn-info btn" value="Create Order" onclick="location.href='@Url.Action("Create", "Work_Orders")'" />
&nbsp | &nbsp
<input type="button" class="btn btn-info btn" value="See Personal Orders" onclick="location.href='@Url.Action("Index", "Work_Orders")'" />
