@model Intex.Models.Customers
@{
    ViewBag.Title = "Home";
}

<center>
    <h2>Welcome! Choose an option to view below:</h2>
</center>

<center>
    <div class="jumbotron">
        <input type="button" class="btn btn-info btn-lg" value="See Profile" onclick="location.href='@Url.Action("Details", new { id = Model.Customer_ID })'" />
        <input type="button" class="btn btn-info btn-lg" value="Create Order" onclick="location.href='@Url.Action("Create", "Work_Orders")'" />
        <input type="button" class="btn btn-info btn-lg" value="See Personal Orders" onclick="location.href='@Url.Action("Index", "Work_Orders")'" />
    </div>
</center>