@model Intex.Models.Assays

@{
    ViewBag.Title = "add2Test";
}

<h2>Add Assays</h2>

@using (@Html.BeginForm("add2Test", "Assays", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h5>Are you sure you want to add the following Assay to your work order?</h5>
    @Html.DisplayFor(model => model.Assay_Desc)

    <input type="button" class="btn btn-info btn" value="Yes" onclick="location.href='@Url.Action("Index", "Assays", new { id = ViewBag.ID })'" />


}

