@model Intex.Models.Assays

@{
    ViewBag.Title = "add2Test";
}

<h2>add2Test</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h5>Are you sure you want to add the following Assay to your work order?</h5>
    //figure out how to print out the assay name here
    <div class="form-group">
        <div >
            <input type="submit" value="Yes" class="cancel" name="actionType" />
            <input type="submit" value="No" class="cancel" name="actionType" />
        </div>
    </div>
}
